{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>All Tasks</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    {% if task_list %}
    <h2>All tasks</h2>
        <div class="task-list">
            {% for task in task_list %}
                <a class="task-card" href="{% url 'task_manager:task_detail' task.id %}">
                    <h3>{{ task.title }}</h3>
                    <p>Due: {{ task.due_date }}</p>
                    <div class="task-actions">
                        <form method="post" action="{% url 'task_manager:toggle_task_done_in_list' task.id %}">
                            {% csrf_token %}
                            <input type="checkbox" id="is_done_{{ task.id }}" name="is_done" onchange="this.form.submit()" {% if task.is_done %}checked{% endif %}>
                            <label for="is_done_{{ task.id }}">Done</label>
                        </form>
                        <form method="post" action="{% url 'task_manager:delete_task_in_list' task.id %}">
                            {% csrf_token %}
                            <button type="submit" class="delete-btn" title="Delete Task"><i class="fas fa-trash"></i></button>
                        </form>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <h2>No tasks at the moment.</h2>
    {% endif %}
    <a href="{% url 'task_manager:create_task' %}" class="new-task-button">+</a>
</body>
</html>
